
<div class="col-lg-6">
  <div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> Line</h4>
    <div class="panel-body text-center">
      <canvas id="line" height="300" width="400"></canvas>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> Line</h4>
    <div class="panel-body text-center">
      <canvas id="line" height="300" width="400"></canvas>
    </div>
  </div>
</div>