<tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
  <td><%= link_to group.name, group, remote: true %></td>
  <td><%= group_owner(group) %></td>
  <td><%= group.id %></td>
</tr> 
