<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>My Groups  <%= link_to 'New Group', new_group_url, remote: true, class: "btn btn-primary" %></h3>
      
    </div>
    
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
	      <th>Group Name</th>
	      <th>Group Owner</th>
	      <th>Group ID</th>
        </tr>
      </thead>
      
      <tbody>


        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
        <%= render @groups %>
        </tr>
 
        <%= will_paginate @groups%>
        
	 
      </tbody>
    </table>
  </div>
  
  <div id="members-show">
    
  </div>

 
        
	     <div id="new-show">
	       
	     </div>  
	     
  
</div>