
<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Create New Group</h3>
    </div>
   
	
    <div class="col-md-6 col-md-offset-3">
    <%= form_for(:group ,url: groups_path, remote: true) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Create group", class: "btn btn-primary" %>
    <% end %>
    </div>
    
</div>
	    
     

  
  
  
