<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Members - <%= @group.name %>  
      <%= link_to 'Edit Group', edit_group_url, remote: true, class: "btn btn-primary" %>
      <%= link_to 'Delete Group', @group, method: :delete, remote: true, class: "btn btn-primary" , data: {confirm: "Are you sure?"} %>
      
      
      </h3>
    </div>
    
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
	      <th>Name</th>
	      <th>Email</th>
        </tr>
      </thead>
      
      <tbody>

        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
        <%= render partial: "member", collection: @members%>
        </tr>
 
        <%= will_paginate @members%>
        
	 
      </tbody>
    </table>
  </div>