<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                 <%= form_for(@user) do |f| %>
                   <%= render 'shared/error_messages' %>
                   
                   <%= f.label :name %>
                   <%= f.text_field :name, class: 'form-control', value: @user.name %>

                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control', value: @user.email %>
            
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>
            
                  <%= f.label :password_confirmation, "Confirmation" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
            
                  <%= f.submit "Save changes", class: "btn btn-primary" %>
                <% end %>
                </tbody>
              </table>
              
              <a href="#" class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>
        <% if current_user.admin? && !current_user?(@user) %>
            <div class="panel-footer">
              <h2>Admin Controls:</h2>
              <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
              <span class="pull-right">
              <a href="edit.html" data-original-title="Edit user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
              <a data-original-title="Delete user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
              </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>