<% provide(:title, 'Create Account') %>

<div class="panel-body">
    
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path, remote: true) do |f| %>
      <% render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>


      <%= f.submit "Create account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

</div>