// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 50%;
  margin-top: 45px;
  margin-left: 500px;
  @include box_sizing;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

.note-remove {
  background-color: #c9302c;
  border-color: #ac2925;
}
.note-remove:hover {
  background-color: #ac2925;
  border-color: #ac2925;
}