<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Files  <%= link_to 'Upload New File', new_upload_url, remote: true, class: "btn btn-primary" %></h3>
      
    </div>
    
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
	      <th>File Name</th>
	      <th>File Uploader</th>
	      
        </tr>
      </thead>
      
      <tbody>


        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
        <%= render @uploads %>
        </tr>
 
        <%= will_paginate @uploads%>
        
	 
      </tbody>
    </table>
  </div>
  
  <div id="">
    
  </div>

 
        
	     <div id="new-upload">
	       
	     </div>  
	     
  
</div>