<%= form_for(@upload, multipart: true, remote: true) do |f| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :File%>
    <%= f.file_field :attachment %>
    <!--<input class='form-control' name='upload[private]' id='upload_private' type='text_field' value=false>-->
  </div>
  
  <div class="field">
    
    <%= f.hidden_field :private, class: 'hidden-f', value: false%>
  </div>
  
  <div class="actions">
    <%= f.submit 'Upload', class: "btn btn-primary" %>
    <%= link_to 'Cancel', uploads_path, class: "btn btn-primary", remote: true%>
  </div>
  
  <h2>Share with: <button id= "add-share" class="btn btn-success btn-add" type="button" style=display:none;><span class="glyphicon glyphicon-plus"></span></button></h2>
  
  <select class="form-control input-lg" id="upload-settings" style="margin-left:10px;">
	    <option value=1>Public</option>
	    <option value=2>Private</option>
	    <option value=3>Groups</option>
	    
  </select>
  
  <div id="add-select">
  
  </select>
  </div>
<% end %>