$("#new-upload").html("<%= j render partial: 'uploads/new' %>");


$(document).ready(function(){

  <!--$("#upload-settings").trigger('change');-->


  $("#upload-settings").change(function(){
  
      if($(this).val() == "1"){
        priv_val = false;
      } else{
        priv_val = true;
      }
      
      $("#upload_private").attr("value",priv_val);
      
      if ($(this).val() == "3"){
      
          <% current_user.groups.each do |group| %>
          
              <% if current_user_permission_check(group) %>
                  $("#add-select").append("<select class='form-control input-lg groupselect' id = 'initial-gs' style='margin-left:10px;display:none;'><option value='none'>Select Group</option></option><option value=<%= group.id %>><%= group.name %></option></select>");
                  
              <% end %>
              
          <% end %>
      
          $( "#add-select" ).show();
          $( ".groupselect").show();
          $( "#add-share" ).show();
          
       } 
       
       else {
          $("#add-share").hide();
          $("#add-select").empty();
       }
       
        $(".groupselect").change(function(){
      var selectValue=[];
      $(".groupselect").each(function(){
          selectValue.push(this.value);
      });
  
      $(this).siblings(".groupselect").find("option").removeAttr("disabled").filter(function(){
         var a=$(this).parent("select").val();
         return (($.inArray(this.value, selectValue) > -1) && (this.value!=a))
      }).attr("disabled","disabled");
  });
  
  });
  
 
 
 $( "#add-share" ).click(function() {
    $( "#initial-gs" ).clone().removeAttr('id').appendTo( "#add-select");
    
    $( ".groupselect").show();
    
    $(".groupselect").change(function(){
      var selectValue=[];
      $(".groupselect").each(function(){
          selectValue.push(this.value);
      });
  
      $(this).siblings(".groupselect").find("option").removeAttr("disabled").filter(function(){
         var a=$(this).parent("select").val();
         return (($.inArray(this.value, selectValue) > -1) && (this.value!=a))
      }).attr("disabled","disabled");
  });
  });


  
  
  


});