<header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        
        <%= link_to "fileshareapp", root_path, class: "logo" %>
        
        <div class="nav notify-row" id="top_menu">
          
          <ul class="nav top-menu">
            
            <li class="dropdown">
            </li>
            
           
          </ul>
          
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <% if logged_in? %>
              <li><%= link_to "Log out", logout_path, method: :delete, class: "logout" %></li>
            <% else %>
              <li><%= link_to "Log in", login_path, class: "logout", remote: true %></li>
            <% end %>
          </ul>
        </div>
</header>