
  <h3>Personal Notes</h3>
  
 
  <div class="desc">
    <div class="thumb">
      <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
    </div>
    <div class="details">
      <p><muted>18 Hours Ago</muted><br/>
        <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
      </p>
    </div>
  </div>

  
  <h3>Shared People</h3>
  
  <div class="desc">
    <div class="thumb">
      
    </div>
    <div class="details">
      <p><a href="#">DAN ROGERS</a><br/>
        <muted>Available</muted>
      </p>
    </div>
  </div>
 
  <div class="desc">
    <div class="thumb">
      
    </div>
    <div class="details">
      <p><a href="#">Zac Sniders</a><br/>
        <muted>Available</muted>
      </p>
    </div>
  </div>
  
  <div class="desc">
    <div class="thumb">
      
    </div>
    <div class="details">
      <p><a href="#">Marcel Newman</a><br/>
        <muted>Available</muted>
      </p>
    </div>
  </div>
  
