<aside>
        <div id="sidebar"  class="nav-collapse ">
         
          <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered"><a href="profile.html"></a></p>
            <h5 class="centered">Navigation Menu</h5>            
            
            <% if logged_in? && current_user.admin?%>
            <li class="mt">
                <i class="fa fa-dashboard"></i>
                <%= link_to "Admin Dashboard", 'management', remote: true %>
            </li>
            <% end %>
            
            <li class="sub-menu">
              
                <i class="fa fa-book"></i>
                <%= link_to "Files", 'uploads', remote: true %>
              
            </li>
            <li class="sub-menu">
              
                <i class="fa fa-book"></i>
                <%= link_to "Groups", 'groups', remote: true %>
              
            </li>
            <li class="sub-menu">
              
                <i class="fa fa-book"></i>
                <%= link_to "Users", 'users', remote: true %>
              
            </li>
            <li class="sub-menu">
              
                <i class="fa fa-book"></i>
                <%= link_to "Create new user", 'users/new', remote: true %>
              
            </li>
          </ul>
          
        </div>
</aside>