<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <section id="container" >
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
    
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <%= yield %>
            <div class="col-lg-3 ds">
              <%= render 'layouts/rightbar' %>
            </div>
          </div>
        </section>
      </section>
    
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= render 'layouts/footer' %>
      
   </section>
   
  </body>
</html>